// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.



$hot-search: #bdbdbd;
$tab-underline: #282f3c;
$background2: #eee;
$border-color: #e4e4e4;
$color1: #333;
$color3: #939393;
$color4: #eeeeee;
$color5: #636363;
$color6: #f2f2f2;
$color7: #4597e7;
$color8: #959595;
$color9: #507DAF;
$color10: #8dccf9;
$color11: #62b6ea;
$color12: #1b9af4;
$color13: #bec3cd;
$color14: #e14123;
$color15: #9a9a9a;
$color16: #f8f8f8;
$color17: #d7d7d7;
$color18: #ff8200;
$color19: #e86b0f;
$color20: #282f3c;
$color21: #fafafa;
$color22: #f2f2f2;
$color23: #697480;
$color24: #a5aeb5;
$color25: rgba(40,47,60,0.8);
$color26: #dee3de;
$color27: #3c6e9e;
$color28: #0091ff;
$color29: #ff4d94;
$color30: #e6e6e6;
$color31: #e3e4e6;
$color32: #cac8c8;
$color33: #f7f7f7;
$color34: #507DAF;
$color35: #999;
$color36: #a5adb5;
$color37: #507daf;
$color38: #F46200;
$color39: #c7c7c7;
$color40: #f9f9f9;
$color41: #ededed;
$color42: #828282;
$color43: #c8c8c8;
$color44: #717981;
$color45: #ecebeb;
$color46: #f4f4f4;
$color47: #5184BC;
$follow-btn: #87909a;
$action: rgba(40, 47, 60, .8);
$weibo-type-border: #e4e4e4;
$weibo-type: #4e7cb1;
$color2: #cbd1d7;
$brief: #999;
$no-weibo-font: #919191;

$secondary : #1976D2;
$primary   : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
